@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8fafc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94a3b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}